body {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #ffb7c5;
    background-color: rgb(56, 56, 56);
    padding: 0 18%;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px 0;
}

.navbar .home {
    display: flex;
    align-items: flex-end;
    gap: 16px;
}

img {
    flex-shrink: 1;
    height: 80px;
    width: auto;
}

.navbar .search-bar {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

i {
    font-size: 18px;
    border: 2px solid #ffb7c5;
    padding: 8px;
}

.links {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 8px 24px;
}

.links a {
    font-size: 18px;
    color: #ffb7c5;
    text-decoration: none;
}

.links a:hover {
    color: #ADD8E6;
}